.App {
  padding: 20px;
  min-width: 200px;
  text-align: center;
  font-weight: 600;
}

.App span {
  font-weight: 900;
}

.App p {
  color: #333;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
